{% extends 'base.html' %}
{% block head %}
<script>
    function saveNameAndPlay(elem) {
        var name = (elem.textContent || elem.innerText).trim().replace(' ', '_');
        console.log(name);
        window.location.href = 'play/'.concat(name);
    }
    function openModal(elem) {
        let name = (elem.textContent || elem.innerText).trim();
        let decklists = {{ decklists | safe }};
        $("#confirmationModal .modal-title").text("Challenge Ned Decker with " + name);
        let decklist_box = $("#confirmationModal .decklist-box");
        decklist_box.val(decklists[name]);
        if (name !== "Custom Deck") {
            decklist_box.attr("readonly", "true");
        } else {
            decklist_box.removeAttr("readonly");
        }
        $("#confirmationModal").modal("show");
    }
</script>
<style>
.deck-name {
    text-shadow: 3px 3px 2px #000;
}
.deck-cover-image {
    width: 90%;
    height: 90%;
    margin: auto;
    background-size: 130%;
    background-position: 50% 20%;
}
.deck-overlay {
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(to bottom, black, rgba(0,0,0,0));
}
</style>
{% endblock %}

{% block content %}
<div class="row h-50 align-items-center">
    <div class="col text-center">
        (Placeholder: image of Ned Decker)
    </div>
</div>
<div class="row h-50">
    {% for row in decks %}
    <div class="row h-50">
        {% for deck in row %}
        {% if deck.0.name %}
        <div class="col-md-4">
            <div class="card deck-cover-image" onClick="openModal(this)" style="background-image: url('{{deck.1}}');">
                <div class="card-img-overlay deck-overlay">
                    <h3 class="card-title deck-name">{{deck.0.name}}</h3>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-4">
            <div class="card deck-cover-image" onClick="openModal(this)">
                <div class="card-img-overlay deck-overlay">
                    <h3 class="card-title deck-name">Custom Deck</h5>
                </div>
            </div>
        </div>
        {% endif %}
        {% empty %}
        <p>No decks are available.</p>
        {% endfor %}
    </div>
    {% empty %}
    <p>No decks are available.</p>
    {% endfor %}
</div>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            </div>
            <form method="POST" id="form" action="{% url 'play:play' %}">
                {% csrf_token %}
                <div class="modal-body d-flex justify-content-center align-items-center form-group">
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Challenge Ned Decker</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
