{% extends 'base.html' %}

{% block head %}
<style>
.battlefield {
    position: relative;
    height: 30%;
}
.hand {
    height: 20%;
}
.chat-history {
    overflow-y: scroll;
}
.hand {
    background: magenta;
}
.neds-battlefield {
    background: red;
}
.users-battlefield {
    background: green;
}
.chat-room {
    background: blue;
}
.info-box {
    background: cyan;
}
.card-shaped {
    border-radius: 5px;
    width: 0.9in;
    height: 1.26in;
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
}
.fill img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.deck {
    background: darkgray;
    position: absolute;
    top: 10px;
    right: 10px;
    overflow: hidden;
}
.deck_context_menu {
    list-style-type: none;
    background: white;
    position: absolute;
    display: none;
    margin: 3px;
    padding: 3px;
}
.deck_context_menu_item {
    margin: 5px;
    padding: 5px;
}
.deck_context_menu_item:hover {
    background: #cccccc;
}
</style>
<script>
    let cardImageMap = new Map;
    let usersDeck = new Array;
    let nedsDeck = new Array;
    let targetDeck = null;

    window.onload = function(){
        console.log('Load done!')
        initializeWebsocket();
        loadCardImageMap();
        loadDecks();
        initCustomContextmenu();
    };

    function initializeWebsocket() {
        const wsProtocol = window.location.protocol === "https:" ? "wss" : "ws";
        const wsPath = `${wsProtocol}://${window.location.host}/ws/play/`;
        const ws = new WebSocket(wsPath);
        ws.onmessage = (event) => {
            const response = JSON.parse(event.data);
            if (typeof response.log !== "undefined") {
                console.log(response.log);
            }
        }
    };

    function shuffle(array) {
        for (let i = array.length - 1; i > 0; i--) {
            let j = Math.floor(Math.random() * (i + 1));
            [array[i], array[j]] = [array[j], array[i]];
        }
        console.log("Shuffled: " + array);
    };

    function drawCard() {
        console.log("Draw card from: " + targetDeck.id);
        let cardName = null;
        let targetHand = null;
        if (targetDeck.id === "usersDeck") {
            cardName = usersDeck.shift();
            if (!usersDeck.length) {
                document.getElementById("usersDeck").style.display = "none";
            }
            targetHand = document.getElementById("usersHand");
        } else if (targetDeck.id === "nedsDeck") {
            cardName = nedsDeck.shift();
            if (!nedsDeck.length) {
                document.getElementById("nedsDeck").style.display = "none";
            }
            targetHand = document.getElementById("nedsHand");
        };
        let card = document.createElement("div");
        card.classList.add("card-shaped");
        card.classList.add("fill");
        let parsedName = "";
        if (cardName.includes("//")) {
            parsedName = cardName.split(" // ")[0];
            if (!cardImageMap.has(parsedName)) {
                parsedName = cardName;
            }
        } else {
            parsedName = cardName;
        }
        let cardImage = document.createElement("img");
        cardImage.classList.add("card-image");
        cardImage.alt = cardName;
        cardImage.src = cardImageMap.get(parsedName);
        card.appendChild(cardImage);
        targetHand.appendChild(card);
        console.log("Drew " + cardName);
    };

    function loadCardImageMap() {
        {% for name, image in card_image_map.items %}
        cardImageMap.set("{{ name | safe }}", "{{ image | safe }}");
        {% endfor %}
    };

    function loadDecks() {
        {% for name, count in user_main.items %}
        for (let i = 0; i < {{ count }}; i++) {
            usersDeck.push("{{ name | safe }}");
        }
        if (!cardImageMap.get("{{ name | safe }}")) {
            console.log("{{ name | safe }} not found!");
            faces = "{{ name | safe }}".split(" // ");
            if(!cardImageMap.get(faces[0])) {
                console.log(faces[0] + " not found!");
            }
            if(!cardImageMap.get(faces[1])) {
                console.log(faces[1] + " not found!");
            }
        }
        {% endfor %}
        shuffle(usersDeck);

        {% for name, count in neds_main.items %}
        for (let i = 0; i < {{ count }}; i++) {
            nedsDeck.push("{{ name | safe }}");
        }
        if (!cardImageMap.get("{{ name | safe }}")) {
            console.log("{{ name | safe }} not found!");
            faces = "{{ name | safe }}".split(" // ");
            if(!cardImageMap.get(faces[0])) {
                console.log(faces[0] + " not found!");
            }
            if(!cardImageMap.get(faces[1])) {
                console.log(faces[1] + " not found!");
            }
        }
        {% endfor %}
        shuffle(nedsDeck);

        function selectAndDrawCard(event) {
            targetDeck = event.currentTarget;
            drawCard();
        };

        usersDeckDiv = document.createElement("div");
        usersDeckDiv.id = "usersDeck";
        usersDeckDiv.classList.add("deck");
        usersDeckDiv.classList.add("card-shaped");
        if (!usersDeck.length) {
            usersDeckDiv.style.display = "none";
        }
        document.getElementById("usersBattlefield").appendChild(usersDeckDiv);

        nedsDeckDiv = document.createElement("div");
        nedsDeckDiv.id = "nedsDeck";
        nedsDeckDiv.classList.add("deck");
        nedsDeckDiv.classList.add("card-shaped");
        if (!nedsDeck.length) {
            nedsDeckDiv.style.display = "none";
        }
        document.getElementById("nedsBattlefield").appendChild(nedsDeckDiv);

        document.getElementById("usersDeck").addEventListener("dblclick", selectAndDrawCard);
        document.getElementById("nedsDeck").addEventListener("dblclick", selectAndDrawCard);
    };

    function initCustomContextmenu() {
        let nedsDeckDiv = document.getElementById("nedsDeck");
        let userDeckDiv = document.getElementById("usersDeck");
        let listElement = document.getElementById("deck_context_menu"); 

        function loseContextMenu(event) {
            listElement.style.display = "none";
            document.removeEventListener("click", loseContextMenu);
        };

        listElement.addEventListener("contextmenu", (event) => {
            event.stopPropagation();
        });

        listElement.addEventListener("mouseup", (event) => {
            event.stopPropagation();
        });

        listElement.addEventListener("click", (event) => {
            event.stopPropagation();
        });

        [nedsDeckDiv, userDeckDiv].forEach(function (element) {
            element.addEventListener("mouseup", (event) => {
                event.stopPropagation();
                if (event.button === 2) {
                    return;
                }
            });
            element.addEventListener("contextmenu", (event) => {
                event.preventDefault();
                event.stopPropagation();
                document.addEventListener("click", loseContextMenu);
                listElement.style.display = "block";
                listElement.style.left = event.pageX + "px";
                listElement.style.top = event.pageY + "px";
                targetDeck = element;
            });
        });

        function arrToUlDecklist(id, arr) {
            var div = document.getElementById(id);
            let oldUl = document.getElementById("ulDecklist");
            var ul = document.createElement("ul");
            ul.setAttribute("id", "ulDecklist");
            div.replaceChild(ul, oldUl);

            for (var i = 0; i < arr.length; i++) {
                var li = document.createElement("li");
                li.appendChild(document.createTextNode(arr[i]));
                ul.appendChild(li);
            }
            div.appendChild(ul);
        }

        function shuffleAndCloseContextmenu(event) {
            loseContextMenu();
            shuffleTargetDeck();
        }

        function shuffleTargetDeck(event) {
            if (targetDeck.id === "nedsDeck") {
                shuffle(nedsDeck);
            } else if (targetDeck.id === "usersDeck") {
                shuffle(usersDeck);
            }
        }

        function searchAndCloseContextmenu(event) {
            loseContextMenu();
            if (targetDeck.id === "nedsDeck") {
                arrToUlDecklist("deckContent", nedsDeck);
            } else if (targetDeck.id === "usersDeck") {
                arrToUlDecklist("deckContent", usersDeck);
            }
            $("#deckSearchModal").modal("show");
        };

        function drawCardAndCloseContextmenu(event) {
            loseContextMenu();
            drawCard();
        };

        document.getElementById("deck_shuffle").addEventListener("click", shuffleAndCloseContextmenu);
        document.getElementById("deck_search").addEventListener("click", searchAndCloseContextmenu);
        document.getElementById("closeAndShuffleBtn").addEventListener("click", shuffleTargetDeck);
        document.getElementById("deck_draw").addEventListener("click", drawCardAndCloseContextmenu);
    };
</script>
{% endblock %}

{% block content %}
<div class="row vh-100">
    <div class="col-lg-8 whole-battlefield">
        <div class="row hand" id="nedsHand">
            (ned's hand)
        </div>
        <div class="row battlefield neds-battlefield" id="nedsBattlefield">
            (ned's battlefield)
        </div>
        <div class="row battlefield users-battlefield" id="usersBattlefield">
            (user's battlefield)
        </div>
        <div class="row hand" id="usersHand">
            (user's hand)
        </div>
        <ul class="deck_context_menu" id="deck_context_menu">
            <li class="deck_context_menu_item" id="deck_shuffle"><a>Shuffle</a></li>
            <li class="deck_context_menu_item" id="deck_draw"><a>Draw</a></li>
            <li class="deck_context_menu_item" id="deck_search"><a>Search</a></li>
        </ul>
    </div>
    <div class="col-lg-4 vh-100">
        <div class="row info-box w-100 h-25">
            (stack and stuff)
        </div>
        <div class="row chat-room w-100 h-75 d-flex flex-column align-items-center">
            <div class="row w-100 flex-grow-1">
                <textarea id:"chat-box" class="h-100 chat-history" cols="40" readonly></textarea>
            </div>
            <div class="row w-100 input-row">
                <input type="text" class="form-control w-75" id="message-input" placeholder="Chat with Ned Decker...">
                <button class="form-control w-25 btn">Send</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade deck_search" id="deckSearchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Search Deck</h5>
            </div>
            <div class="modal-body deck-content" id="deckContent">
                <ul id="ulDecklist">
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="closeAndShuffleBtn" data-bs-dismiss="modal">Close and shuffle</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
